// Media Queries
$large: "(max-width: 992px)";
$medium: "(max-width: 720px)";
$small: "(max-width: 540px)";
$extrasmall: "(max-width: 300px)";

// Colors
$primaryColor: #FFC43D;
$secondaryColor: #FF5E5B;
$thirdColor: #00798C;
$fourthColor: #00CECB;
$darkColorPrimary: #2E282A;
$lightColorPrimary: #ffffff;

// Fonts
$primaryFont: 'Open Sans', sans-serif;
$lightFontWeight: 300;
$regularFontWeight: 500;
$boldFontWeight: 700;

// Backgrounds
$backgroundShade: rgba(0, 0, 0, 0.3);

// Hover Colors
$primaryColorHover: #b48008;
$secondaryColorHover: #b84442;

